@use 'base' as *;
@use 'animations' as *;

body {
    @include color($primary-color, $light_color);
    @include align(flex, center, center);
    text-align: left; font: 100% $font-stack; 
    flex-direction: column; 

    h1 { text-align: center; font-size: 25px; padding: 1em 0 0.5em 0; }
    h2 { font-size: 20px; margin: 0; }
    h3 { font-size: 18px; margin: 0.4em 0 0 0; }
    h4 { margin: 0.2em 0 0 0; }
    p { font: 100% $paragraph-text; margin-top: 8px; }
}

header {
    @include align(flex, center, center);
    flex-direction: column;
    width: 800px;

    img { @include space(2em, 1em 0 1.5em); width: 100px; }
}

nav {
    @include border($border-style $detailcolor, 0.2em 0.2em 0 0);
    width: 100%;
    padding: 1em 0 1em 0;
    background-color: $detailcolor;
    border-top-width: 0;

    ul {
        @include space(0, 0);
        list-style: none;
        display: flex;
        justify-content: center;
    }

    li {
        margin-right: 20px;
        transition: 0.1s;

        &:hover { transform: scale(1.2); }
        &:last-child { margin-right: 0; }
        a { text-decoration: none; padding: 5px; }
    }

    .material-symbols-outlined { 
        @include text(30px, $deviating-color); 
        font-weight: 400; 

        &:hover { color: $deviating-light; }
    }

    #position { 
        background-color: $lighter_color; 
        border-radius: 5px; 
        padding: 5px; 
    }
}

.overlay {
    @include size(100%, 100%);
    @include placing(fixed, 0, 0);
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.confirmation-box {
    @include border($border-style $darkest_color, 0.3em);
    @include placing(fixed, 20%, 50%);
    transform: translate(-50%, 050%);
    background-color: $detailcolor;
    padding: 5em;
    z-index: 1001;

    .button-div {
        display: flex;
        justify-content: center;
        margin: 1em 0 0;
    }

    button {
        @include size(100%, 40px);
        @include border(none, 0.2em);
        margin: 1em 1em 0 1em;
        font: 100% $paragraph-text;
        background-color: $deviating-color;
        box-shadow: 0 2px 5px 0 rgba(92, 92, 92, 0.5);
        cursor: pointer;
        transition: 0.2s;

        &:hover { @include color(darken($deviating-color, 20%), $light_color); }
    }
}

main {
    @include align(flex, center, center);
    @include size(800px, auto);
    @include border($border-style $detailcolor, 0 0 0.2em 0.2em);
    background-color: $lighter_color;
    flex-direction: column;
    box-shadow: 0px 8px 10px rgba(39, 39, 39, 0.575);

    #container { width: 100%; }
    #result { animation: fadeIn 0.3s ease-in; }
    a { color: $light_color; }

    .workexperience {
        padding: 1.5em 0 2em 2em;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.103);

        .material-symbols-outlined {
            @include text(30px, $deviating-color);
            background: none;
            border: none;
            align-self: flex-end;
            margin-right: 25px;
            transition: 0.1s;

            &:hover { transform: scale(1.2); cursor: pointer; color: $deviating-light; } }

        h2, h3, h4 { letter-spacing: 0.5px; }
        .desc { @include text(22px, $deviating-color); }
        &:nth-child(odd) { background-color: $primary-color; } 
    }

    .error-message {
        @include text(12px, $light_color);
        font-style: italic;
        letter-spacing: 0.5px;
        margin-top: 0.5em!important;
    }

    #confirmation {
        @include border($border-style, 0.3em);
        @include space(2em, 0 0 2em 0);
        display: none;
        animation: fadeColor 0.2s forwards;
        color: $light_color;
    }

    .text { font-size: 12px; a { color: white; }}

    #addBtn {
        @include align(flex, center, center);
        @include size(100%, 50px);
        @include border(0, 0 0 5px 5px);
        @include color($deviating-color, $primary-color);
        font: 100% $paragraph-text;
        font-weight: 600;
        letter-spacing: 0.5px;
        transition: 0.2s;
        
        &:hover { background-color: $deviating-light; cursor: pointer; }

        .material-symbols-outlined {
            @include text(30px, $primary-color);
            border: none;
            background: none;
            font-weight: 600; }
    }
}

form {
    padding: 2em;
    background-color: $primary-color;
    border-radius: 5px 5px 0 0;
    margin-bottom: 4.5em;
    width: 400px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.301);

    div {
        margin: 1em 0 0 0;

        &:first-child { margin: 0; }
        &:last-child { margin: 2em 0 0 0; }
    }

    input {
        @include size(100%, 40px);
        @include border(0, 3px);
        font: 100% $paragraph-text;
        font-size: 14px;

        &[type="text"] { @include boxspace(0 0 0 0.8em, border-box); }
    }
    
    textarea {
        @include size(100%, 120px);
        @include border(0, 3px);
        font: 100% $paragraph-text;

        &::placeholder { font-size: 14px; padding: 0.5em 0 0 0.5em; }
        &[type="text"] { @include boxspace(0.3em 0 0 0.3em, border-box); }
    }
}

section {
    width: 100%;

    div {
        @include boxspace(2em 4em 5em 4em, border-box);
        width: 100%;
        margin: 0 auto;
        background-color: $primary-color;

        .material-symbols-outlined { color: $deviating-color; }
    }
}

footer {
    @include align(flex, center, center);
    margin: 3em 0;
    gap: 1em; 

    img { @include size(40px, 15px); }
    p { font-size: 12px; }
}

@media only screen and (max-width: 800px) { }